Django
dj-rest-auth
django-allauth
django-cors-headers
Django>=4.2
djangorestframework
psycopg2-binary
python-decouple
drf-spectacular
gunicorn
whitenoise
django-environ
djangorestframework-simplejwt
requests